<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybats.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!-- namespace는 dao에서 접근할 때 사용된다. -->
<mapper namespace="Board">
  <resultMap type="Board" id="resultBoard">
  	<!-- property에는 vo의 필드명, column에는 db table 의 칼럼명이 온다 -->
  	<id property="board_num" column="board_num"/>
  	<result property="board_writer" column="board_writer"/>
  	<result property="board_title" column="board_title"/>
  	<result property="board_content" column="board_content"/>
  	<result property="board_file" column="board_file"/>
  	<result property="board_pwd" column="board_pwd"/>
  	<result property="read_count" column="read_count"/>
  	<result property="regDate" column="regDate"/>
  </resultMap>
  
  <!-- 전체 게시글 개수 조회 -->
  <select id="listCount" resultType="int">
  	select count(*) from board
  </select>
  
  <!-- 게시글 삽입 -->
  <insert id="insertBoard" parameterType="string" flushCache="true" statementType="PREPARED">
  	insert into board values
			('BO'||TO_CHAR(SYSDATE,'RRMMDD')||LPAD(BOARD_SEQ.NEXTVAL,2,'0'),
			#{board_writer}, #{board_title}, 0,
			SYSDATE, #{board_content},
			#{board_file},
			#{board_pwd})
  </insert>
  
  <select id="selectList" resultType="arraylist" resultMap="resultBoard">
		select * from board
	</select>  
	
	<!-- 단일 게시글 조회 -->
	<select id="searchOne" parameterType="string" resultType="Board"> <!-- 가지고 들어오는 게 있어서 parameterType -->
		select * from board where board_num = #{board_num} <!-- DAO에서 던져주는 값이래, dao 아직 설정안되어있는 듯? -->
	</select>
	
	<!-- 검색한 게시글 조회 -->
	
	
	<!-- 게시글 조회 수 증가 -->
	<update id="addReadCount" parameterType="string" flushCache="true" statementType="PREPARED"> <!-- 가지고오는 board_num의 type -->
		update board set read_count=(read_count+1)
		where board_num=#{board_num}
	</update> <!-- (read_count+1) -->
	
	
	<!-- 게시글 수정 -->
	<update id="updateBoard" parameterType="Board" flushCache="true" statementType="PREPARED"> <!-- 여러가지 param들을 하나씩 꺼내서 보려 flushCache -->
		update board set board_title=#{board_title}, board_content=#{board_content}, board_file=#{board_file}
		where board_num=#{board_num} and board_pwd=#{board_pwd}
	</update>
	
	<!-- 게시글 삭제 -->
	<delete id="deleteBoard" parameterType="string" flushCache="true" statementType="PREPARED"> <!-- update,delete는 resultType이 무조건 int라 따로 명시하지 않는다. -->
		delete from board where board_num=#{board_num}
	</delete>
	
  
</mapper>
